.wrapper {
    position: absolute;
    position: absolute;
    width: var(--width-sidebar);
    left: 0px;
    top: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px 24px;
    gap: 16px;
}
